<?php echo $_header;?>
    <!-- BEGIN REVOLUTION SLIDER -->    
    <div class="fullwidthbanner-container slider-main margin-bottom-10">
        <div class="fullwidthabnner">
            <ul id="revolutionul" style="display:none;">            
                    <!-- THE FIRST SLIDE -->
                    <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="<?php echo ASSETS_PATH;?>images/sliders/revolution/thumbs/thumb2.jpg">
                        <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                        <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/bg1.jpg" alt="">
                        
                        <div class="caption lft slide_title slide_item_left"
                             data-x="0"
                             data-y="125"
                             data-speed="400"
                             data-start="1500"
                             data-easing="easeOutExpo">
                             需要一个网站 ? 
                        </div>
                        <div class="caption lft slide_subtitle slide_item_left"
                             data-x="0"
                             data-y="180"
                             data-speed="400"
                             data-start="2000"
                             data-easing="easeOutExpo">
                             这里就是您所寻找的
                        </div>
                        <div class="caption lft slide_desc slide_item_left"
                             data-x="0"
                             data-y="220"
                             data-speed="400"
                             data-start="2500"
                             data-easing="easeOutExpo">
                             BCCMS内容管理系统<br>
                             让你快速拥有自己的网站
                        </div>
                        <a class="caption lft btn green slide_btn slide_item_left" href="#"
                             data-x="0"
                             data-y="290"
                             data-speed="400"
                             data-start="3000"
                             data-easing="easeOutExpo">
                             立即下载
                        </a>                        
                        <div class="caption lfb"
                             data-x="640" 
                             data-y="55" 
                             data-speed="700" 
                             data-start="1000" 
                             data-easing="easeOutExpo"  >
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/man-winner.png" alt="Image 1">
                        </div>
                    </li>

                    <!-- THE SECOND SLIDE -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="<?php echo ASSETS_PATH;?>images/sliders/revolution/thumbs/thumb2.jpg">                        
                        <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/bg2.jpg" alt="">
                        <div class="caption lfl slide_title slide_item_left"
                             data-x="0"
                             data-y="145"
                             data-speed="400"
                             data-start="3500"
                             data-easing="easeOutExpo">
                             视觉体验
                        </div>
                        <div class="caption lfl slide_subtitle slide_item_left"
                             data-x="0"
                             data-y="200"
                             data-speed="400"
                             data-start="4000"
                             data-easing="easeOutExpo">
                             完美兼容PC & Pad & Mobile
                        </div>
                        <div class="caption lfl slide_desc slide_item_left"
                             data-x="0"
                             data-y="245"
                             data-speed="400"
                             data-start="4500"
                             data-easing="easeOutExpo">
                             支持IE8+, opera, firefox, chrome, safari等浏览器
                        </div>                        
                        <div class="caption lfr slide_item_right" 
                             data-x="635" 
                             data-y="105" 
                             data-speed="1200" 
                             data-start="1500" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/mac.png" alt="Image 1">
                        </div>
                        <div class="caption lfr slide_item_right" 
                             data-x="580" 
                             data-y="245" 
                             data-speed="1200" 
                             data-start="2000" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/ipad.png" alt="Image 1">
                        </div>
                        <div class="caption lfr slide_item_right" 
                             data-x="735" 
                             data-y="290" 
                             data-speed="1200" 
                             data-start="2500" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/iphone.png" alt="Image 1">
                        </div>
                        <div class="caption lfr slide_item_right" 
                             data-x="835" 
                             data-y="230" 
                             data-speed="1200" 
                             data-start="3000" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/macbook.png" alt="Image 1">
                        </div>
                        <div class="caption lft slide_item_right" 
                             data-x="865" 
                             data-y="45" 
                             data-speed="500" 
                             data-start="5000" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/hint1-blue.png" id="rev-hint1" alt="Image 1">
                        </div>                        
                        <div class="caption lfb slide_item_right" 
                             data-x="355" 
                             data-y="355" 
                             data-speed="500" 
                             data-start="5500" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/hint2-blue.png" id="rev-hint2" alt="Image 1">
                        </div>

                    </li>
                    
                    <!-- THE THIRD SLIDE -->
                    <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="<?php echo ASSETS_PATH;?>images/sliders/revolution/thumbs/thumb2.jpg">
                        <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/bg3.jpg" alt="">
                        <div class="caption lfl slide_item_left" 
                             data-x="20" 
                             data-y="95" 
                             data-speed="400" 
                             data-start="1500" 
                             data-easing="easeOutBack">
                             <iframe src="" width="420" height="240" style="border:0" allowFullScreen></iframe> 
                        </div>
                        <div class="caption lfr slide_title"
                             data-x="470"
                             data-y="120"
                             data-speed="400"
                             data-start="2000"
                             data-easing="easeOutExpo">
                             视频教程
                        </div>
                        <div class="caption lfr slide_subtitle"
                             data-x="470"
                             data-y="170"
                             data-speed="400"
                             data-start="2500"
                             data-easing="easeOutExpo">
                             BingCeng, Youku, Youtube等.
                        </div>
                        <div class="caption lfr slide_desc"
                             data-x="470"
                             data-y="220"
                             data-speed="400"
                             data-start="3000"
                             data-easing="easeOutExpo">
                             提供完善的视频教程帮助用户最快速度了解及使用BCCMS
                        </div>
                        <a class="caption lfr btn yellow slide_btn" href=""
                             data-x="470"
                             data-y="280"
                             data-speed="400"
                             data-start="3500"
                             data-easing="easeOutExpo">
                             观看教程
                        </a>
                    </li>               
                    
                    <!-- THE FORTH SLIDE -->
                    <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="<?php echo ASSETS_PATH;?>images/sliders/revolution/thumbs/thumb2.jpg">
                        <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                        <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/bg4.jpg" alt="">                        
                         <div class="caption lft slide_title"
                             data-x="0"
                             data-y="125"
                             data-speed="400"
                             data-start="1500"
                             data-easing="easeOutExpo">
                             还有什么 ?
                        </div>
                        <div class="caption lft slide_subtitle"
                             data-x="0"
                             data-y="180"
                             data-speed="400"
                             data-start="2000"
                             data-easing="easeOutExpo">
                             了解更多关于BCCMS
                        </div>
                        <div class="caption lft slide_desc"
                             data-x="0"
                             data-y="225"
                             data-speed="400"
                             data-start="2500"
                             data-easing="easeOutExpo">
                             您的选择是我们最大的荣耀
                        </div>
                        <a class="caption lft slide_btn btn red slide_item_left" href="#" target="_blank" 
                             data-x="0"
                             data-y="300"
                             data-speed="400"
                             data-start="3000"
                             data-easing="easeOutExpo">
                             了解更多!
                        </a>                        
                        <div class="caption lft start"  
                             data-x="670" 
                             data-y="55" 
                             data-speed="400" 
                             data-start="2000" 
                             data-easing="easeOutBack"  >
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/iphone_left.png" alt="Image 2">
                        </div>
                        
                        <div class="caption lft start"  
                             data-x="850" 
                             data-y="55" 
                             data-speed="400" 
                             data-start="2400" 
                             data-easing="easeOutBack"  >
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/iphone_right.png" alt="Image 3">
                        </div>                        
                    </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
	
    <!-- BEGIN CONTAINER -->   
    <div class="container">
        <!-- BEGIN SERVICE BOX -->   
        <div class="row-fluid service-box">
            <div class="span4">
                <div class="service-box-heading">
                    <em><i class="icon-location-arrow blue"></i></em>
                    <span>免费 Free</span>
                </div>
                <p>遵循BSD开源协议，不对用户做任何功能限制，保证用户二次商业开发使用！</p>
            </div>
            <div class="span4">
                <div class="service-box-heading">
                    <em><i class="icon-ok red"></i></em>
                    <span>框架 BC</span>
                </div>
                <p>基于BC框架实现，框架简洁高效！利于开发人员二次开发。</p>
            </div>
            <div class="span4">
                <div class="service-box-heading">
                    <em><i class="icon-resize-small green"></i></em>
                    <span>实用</span>
                </div>
                <p>采用Metro扁平化风格展现，视觉及操作效果极佳。拥有建站各种实用功能，摒弃各种复杂繁琐的功能操作。</p>
            </div>
        </div>
        <!-- END SERVICE BOX -->  

        <!-- BEGIN BLOCKQUOTE BLOCK -->   
        <div class="row-fluid quote-v1">
            <div class="span9 quote-v1-inner">
                <span>BCCMS - 免费开源、面向对象的便捷内容管理系统。</span>
            </div>
            <div class="span3 quote-v1-inner text-right">
                <a class="btn-transparent" href="#" target="_blank"><i class="icon-rocket margin-right-10"></i>下载</a>
            </div>
        </div>
        <!-- END BLOCKQUOTE BLOCK -->

        <div class="clearfix"></div>

        <!-- BEGIN RECENT WORKS -->
        <div class="row-fluid recent-work margin-bottom-40">
            <div class="span3">
                <h2><a href="portfolio.html">最新案例</a></h2>
                <p>及时展现最新作品.</p>
            </div>
            <div class="span9">
                <ul class="bxslider">
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img1.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>报价效果</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img2.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>PC后台效果</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img3.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Pad新闻效果</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img4.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Ipad后台效果</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img5.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Iphone时间线效果</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img6.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Macbook时间线效果</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img3.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Pad新闻效果</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img4.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Ipad后台效果</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                </ul>        
            </div>
        </div>   
        <!-- END RECENT WORKS -->

        <div class="clearfix"></div>

        <!-- BEGIN TABS AND TESTIMONIALS -->
        <div class="row-fluid mix-block">
            <!-- TABS -->
            <div class="span7 tab-style-1 margin-bottom-20">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-1" data-toggle="tab">BCCMS</a></li>
                    <li><a href="#tab-2" data-toggle="tab">BCBLOG</a></li>
                    <li><a href="#tab-3" data-toggle="tab">BCSHOP</a></li>
                    <li><a href="#tab-4" data-toggle="tab">更多</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane row-fluid fade in active" id="tab-1">
                        <div class="span3">
                            <a href="<?php echo ASSETS_PATH;?>images/photos/img7.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                                <img class="img-circle" src="<?php echo ASSETS_PATH;?>images/photos/img7.jpg" alt="" />
                            </a>
                        </div>
                        <div class="span9">
                            <p class="margin-bottom-10">内容介绍一</p>
                            <p><a class="more" href="#">更多 <i class="icon-angle-right"></i></a></p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-2">
                        <div class="span9">
                            <p>内容介绍一</p>
                        </div>
                        <div class="span3">
                            <a href="<?php echo ASSETS_PATH;?>images/photos/img10.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                                <img class="img-circle" src="<?php echo ASSETS_PATH;?>images/photos/img10.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-3">
                        <p>内容介绍一</p>
                    </div>
                    <div class="tab-pane fade" id="tab-4">
                        <p>内容介绍一</p>
                    </div>
                </div>
            </div>
            <!-- END TABS -->
    
            <!-- TESTIMONIALS -->
            <div class="span5 testimonials-v1">
                <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <span class="testimonials-slide">要做就做最好</span>
                            <div class="carousel-info">
                                <img class="pull-left" src="<?php echo ASSETS_PATH;?>images/people/img2-small.jpg" alt="" />
                                <div class="pull-left">
                                    <span class="testimonials-name">张三</span>
                                    <span class="testimonials-post">总经理</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <span class="testimonials-slide">稳定、快捷、高效、创新</span>
                            <div class="carousel-info">
                                <img class="pull-left" src="<?php echo ASSETS_PATH;?>images/people/img4-small.jpg" alt="" />
                                <div class="pull-left">
                                    <span class="testimonials-name">王五</span>
                                    <span class="testimonials-post">技术总监</span>
                                </div>
                            </div>
                        </div>
						<div class="item">
                            <span class="testimonials-slide">从视觉上将你俘虏</span>
                            <div class="carousel-info">
                                <img class="pull-left" src="<?php echo ASSETS_PATH;?>images/people/img5-small.jpg" alt="" />
                                <div class="pull-left">
                                    <span class="testimonials-name">李四</span>
                                    <span class="testimonials-post">创意总监</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carousel nav -->
                    <a class="left-btn" href="#myCarousel" data-slide="prev"></a>
                    <a class="right-btn" href="#myCarousel" data-slide="next"></a>
                </div>
            </div>
            <!-- END TESTIMONIALS -->
        </div>                
        <!-- END TABS AND TESTIMONIALS -->

        <!-- BEGIN STEPS -->
        <div class="row-fluid no-space-steps margin-bottom-40">
            <div class="span4 front-steps front-step-one">
                <h2>需求分析</h2>
                <p>明确客户目标，确定系统功能，结合行业特点进行需求分析。</p>
            </div>
            <div class="span4 front-steps front-step-two">
                <h2>报价，签订合同</h2>
                <p>提供系统功能清单，合理报价，完善的合同协议。</p>
            </div>
            <div class="span4 front-steps front-step-three">
                <h2>开发，完成交付</h2>
                <p>提供项目开发进度及里程碑，安全部署。</p>
            </div>
        </div>
        <!-- END STEPS -->

        <!-- BEGIN CLIENTS -->
        <div class="row-fluid margin-bottom-40">
            <div class="span3">
                <h2><a href="#">合作伙伴</a></h2>
                <p>真诚合作、共创双赢.</p>
            </div>
            <div class="span9">
                <ul class="bxslider1 clients-list">
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_1_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_1.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_2_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_2.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_3_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_3.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_4_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_4.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_5_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_5.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">                        
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_6_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_6.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_7_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_7.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">                        
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_8_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_8.png" class="color-img" alt="" />
                        </a>
                    </li>
                </ul>                        
            </div>
        </div>
        <!-- END CLIENTS -->
    </div>
    <!-- END CONTAINER -->
<?php echo $_footer;?>