<!-- BEGIN RIGHT SIDEBAR -->            
            <div class="span3 blog-sidebar">                       
                <!-- BEGIN BLOG TALKS -->
                <div class="blog-talks margin-bottom-30">
                    <h2>Product Overview</h2>
                    <div class="tab-style-1">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-1" data-toggle="tab">BCCMS</a></li>
                            <li><a href="#tab-2" data-toggle="tab">BCBLOG</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane row-fluid fade in active" id="tab-1">
                                <p class="margin-bottom-10"></p>
                                <p><a href="#" class="read-more">More</a></p>
                            </div>
                            <div class="tab-pane fade" id="tab-2">
                                <p></p>
								<p><a href="#" class="read-more">More</a></p>
                            </div>
                        </div>
                    </div>
                </div>                            
                <!-- END BLOG TALKS -->

                <!-- BEGIN BLOG PHOTOS STREAM -->
                <div class="blog-photo-stream margin-bottom-20">
                    <h2>Stream</h2>
                    <ul class="unstyled">
                        <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/people/img5-small.jpg" alt=""></a></li>
                        <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/works/img1.jpg" alt=""></a></li>
                        <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/people/img4-large.jpg" alt=""></a></li>
                        <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/works/img6.jpg" alt=""></a></li>
                        <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/pics/img1-large.jpg" alt=""></a></li>
                        <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/pics/img2-large.jpg" alt=""></a></li>
                        <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/works/img3.jpg" alt=""></a></li>
                        <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/people/img2-large.jpg" alt=""></a></li>
                    </ul>                    
                </div>
                <!-- END BLOG PHOTOS STREAM -->

                <!-- BEGIN BLOG TAGS -->
                <div class="blog-tags margin-bottom-20">
                    <h2>Tags</h2>
                    <ul>
                        <li><a href="#"><i class="icon-tags"></i>BC</a></li>
                        <li><a href="#"><i class="icon-tags"></i>CMS</a></li>
                        <li><a href="#"><i class="icon-tags"></i>Blog</a></li>
                        <li><a href="#"><i class="icon-tags"></i>Shop</a></li>
                        <li><a href="#"><i class="icon-tags"></i>Content</a></li>
                        <li><a href="#"><i class="icon-tags"></i>BCCMS</a></li>
                        <li><a href="#"><i class="icon-tags"></i>PHP</a></li>
                        <li><a href="#"><i class="icon-tags"></i>Metro</a></li>
                    </ul>
                </div>
                <!-- END BLOG TAGS -->
            </div>
            <!-- END RIGHT SIDEBAR -->           