<?php echo $_header;?>
    <!-- BEGIN REVOLUTION SLIDER -->    
    <div class="fullwidthbanner-container slider-main margin-bottom-10">
        <div class="fullwidthabnner">
            <ul id="revolutionul" style="display:none;">            
                    <!-- THE FIRST SLIDE -->
                    <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="<?php echo ASSETS_PATH;?>images/sliders/revolution/thumbs/thumb2.jpg">
                        <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                        <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/bg1.jpg" alt="">
                        
                        <div class="caption lft slide_title slide_item_left"
                             data-x="0"
                             data-y="125"
                             data-speed="400"
                             data-start="1500"
                             data-easing="easeOutExpo">
                             Need a website ? 
                        </div>
                        <div class="caption lft slide_subtitle slide_item_left"
                             data-x="0"
                             data-y="180"
                             data-speed="400"
                             data-start="2000"
                             data-easing="easeOutExpo">
                             Here's what you're looking for
                        </div>
                        <div class="caption lft slide_desc slide_item_left"
                             data-x="0"
                             data-y="220"
                             data-speed="400"
                             data-start="2500"
                             data-easing="easeOutExpo">
                             BCCMS Content Management System<br>
                             Lets you have your own website quickly.
                        </div>
                        <a class="caption lft btn green slide_btn slide_item_left" href="#"
                             data-x="0"
                             data-y="290"
                             data-speed="400"
                             data-start="3000"
                             data-easing="easeOutExpo">
                             Download Now!
                        </a>                        
                        <div class="caption lfb"
                             data-x="640" 
                             data-y="55" 
                             data-speed="700" 
                             data-start="1000" 
                             data-easing="easeOutExpo"  >
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/man-winner.png" alt="Image 1">
                        </div>
                    </li>

                    <!-- THE SECOND SLIDE -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="<?php echo ASSETS_PATH;?>images/sliders/revolution/thumbs/thumb2.jpg">                        
                        <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/bg2.jpg" alt="">
                        <div class="caption lfl slide_title slide_item_left"
                             data-x="0"
                             data-y="145"
                             data-speed="400"
                             data-start="3500"
                             data-easing="easeOutExpo">
                             Visual experience
                        </div>
                        <div class="caption lfl slide_subtitle slide_item_left"
                             data-x="0"
                             data-y="200"
                             data-speed="400"
                             data-start="4000"
                             data-easing="easeOutExpo">
                             Compatible PC & Pad & Mobile 
                        </div>
                        <div class="caption lfl slide_desc slide_item_left"
                             data-x="0"
                             data-y="245"
                             data-speed="400"
                             data-start="4500"
                             data-easing="easeOutExpo">
                             Supports IE8 +, opera, firefox, chrome, safari and other browsers
                        </div>                        
                        <div class="caption lfr slide_item_right" 
                             data-x="635" 
                             data-y="105" 
                             data-speed="1200" 
                             data-start="1500" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/mac.png" alt="Image 1">
                        </div>
                        <div class="caption lfr slide_item_right" 
                             data-x="580" 
                             data-y="245" 
                             data-speed="1200" 
                             data-start="2000" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/ipad.png" alt="Image 1">
                        </div>
                        <div class="caption lfr slide_item_right" 
                             data-x="735" 
                             data-y="290" 
                             data-speed="1200" 
                             data-start="2500" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/iphone.png" alt="Image 1">
                        </div>
                        <div class="caption lfr slide_item_right" 
                             data-x="835" 
                             data-y="230" 
                             data-speed="1200" 
                             data-start="3000" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/macbook.png" alt="Image 1">
                        </div>
                        <div class="caption lft slide_item_right" 
                             data-x="865" 
                             data-y="45" 
                             data-speed="500" 
                             data-start="5000" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/hint1-blue.png" id="rev-hint1" alt="Image 1">
                        </div>                        
                        <div class="caption lfb slide_item_right" 
                             data-x="355" 
                             data-y="355" 
                             data-speed="500" 
                             data-start="5500" 
                             data-easing="easeOutBack">
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/hint2-blue.png" id="rev-hint2" alt="Image 1">
                        </div>

                    </li>
                    
                    <!-- THE THIRD SLIDE -->
                    <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="<?php echo ASSETS_PATH;?>images/sliders/revolution/thumbs/thumb2.jpg">
                        <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/bg3.jpg" alt="">
                        <div class="caption lfl slide_item_left" 
                             data-x="20" 
                             data-y="95" 
                             data-speed="400" 
                             data-start="1500" 
                             data-easing="easeOutBack">
                             <iframe src="" width="420" height="240" style="border:0" allowFullScreen></iframe> 
                        </div>
                        <div class="caption lfr slide_title"
                             data-x="470"
                             data-y="120"
                             data-speed="400"
                             data-start="2000"
                             data-easing="easeOutExpo">
                             Video Tutorial
                        </div>
                        <div class="caption lfr slide_subtitle"
                             data-x="470"
                             data-y="170"
                             data-speed="400"
                             data-start="2500"
                             data-easing="easeOutExpo">
                             BingCeng, Youku, Youtube etc.
                        </div>
                        <div class="caption lfr slide_desc"
                             data-x="470"
                             data-y="220"
                             data-speed="400"
                             data-start="3000"
                             data-easing="easeOutExpo">
                             Provide comprehensive video tutorials to help users understand and use BCCMS the fastest speed.
                        </div>
                        <a class="caption lfr btn yellow slide_btn" href=""
                             data-x="470"
                             data-y="280"
                             data-speed="400"
                             data-start="3500"
                             data-easing="easeOutExpo">
                             Learning
                        </a>
                    </li>               
                    
                    <!-- THE FORTH SLIDE -->
                    <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="<?php echo ASSETS_PATH;?>images/sliders/revolution/thumbs/thumb2.jpg">
                        <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                        <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/bg4.jpg" alt="">                        
                         <div class="caption lft slide_title"
                             data-x="0"
                             data-y="125"
                             data-speed="400"
                             data-start="1500"
                             data-easing="easeOutExpo">
                             anything else?
                        </div>
                        <div class="caption lft slide_subtitle"
                             data-x="0"
                             data-y="180"
                             data-speed="400"
                             data-start="2000"
                             data-easing="easeOutExpo">
                             Learn more about BCCMS
                        </div>
                        <div class="caption lft slide_desc"
                             data-x="0"
                             data-y="225"
                             data-speed="400"
                             data-start="2500"
                             data-easing="easeOutExpo">
                             Your choice is our greatest glory
                        </div>
                        <a class="caption lft slide_btn btn red slide_item_left" href="#" target="_blank" 
                             data-x="0"
                             data-y="300"
                             data-speed="400"
                             data-start="3000"
                             data-easing="easeOutExpo">
                             More!
                        </a>                        
                        <div class="caption lft start"  
                             data-x="670" 
                             data-y="55" 
                             data-speed="400" 
                             data-start="2000" 
                             data-easing="easeOutBack"  >
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/iphone_left.png" alt="Image 2">
                        </div>
                        
                        <div class="caption lft start"  
                             data-x="850" 
                             data-y="55" 
                             data-speed="400" 
                             data-start="2400" 
                             data-easing="easeOutBack"  >
                             <img src="<?php echo ASSETS_PATH;?>images/sliders/revolution/iphone_right.png" alt="Image 3">
                        </div>                        
                    </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
	
    <!-- BEGIN CONTAINER -->   
    <div class="container">
        <!-- BEGIN SERVICE BOX -->   
        <div class="row-fluid service-box">
            <div class="span4">
                <div class="service-box-heading">
                    <em><i class="icon-location-arrow blue"></i></em>
                    <span>Free</span>
                </div>
                <p>Follow the BSD open source license, and does not make any functional limitations, to ensure that users develop secondary commercial use!</p>
            </div>
            <div class="span4">
                <div class="service-box-heading">
                    <em><i class="icon-ok red"></i></em>
                    <span>BC Framework</span>
                </div>
                <p>BC-based framework, the framework is simple and efficient! Help developers secondary development.</p>
            </div>
            <div class="span4">
                <div class="service-box-heading">
                    <em><i class="icon-resize-small green"></i></em>
                    <span>Practical</span>
                </div>
                <p>Flattening using Metro style show, visual and operating with excellent results. Build your own variety of useful features, abandon all kinds of complicated functions.</p>
            </div>
        </div>
        <!-- END SERVICE BOX -->  

        <!-- BEGIN BLOCKQUOTE BLOCK -->   
        <div class="row-fluid quote-v1">
            <div class="span9 quote-v1-inner">
                <span>BCCMS - free, open source, object-oriented and convenient.</span>
            </div>
            <div class="span3 quote-v1-inner text-right">
                <a class="btn-transparent" href="#" target="_blank"><i class="icon-rocket margin-right-10"></i>Donwload</a>
            </div>
        </div>
        <!-- END BLOCKQUOTE BLOCK -->

        <div class="clearfix"></div>

        <!-- BEGIN RECENT WORKS -->
        <div class="row-fluid recent-work margin-bottom-40">
            <div class="span3">
                <h2><a href="portfolio.html">Recent Case</a></h2>
                <p>Show our recent work.</p>
            </div>
            <div class="span9">
                <ul class="bxslider">
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img1.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img1.jpg" class="fancybox-button" title="Project Name #1" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Quoted price style</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img2.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img2.jpg" class="fancybox-button" title="Project Name #2" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>PC backend style</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img3.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Pad news style</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img4.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Ipad backend style</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img5.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img5.jpg" class="fancybox-button" title="Project Name #5" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Iphone timeline style</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img6.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img6.jpg" class="fancybox-button" title="Project Name #6" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Macbook timeline style</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img3.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img3.jpg" class="fancybox-button" title="Project Name #3" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Pad news style</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                    <li>
                        <em>
                            <img src="<?php echo ASSETS_PATH;?>images/works/img4.jpg" alt="" />
                            <a href="#"><i class="icon-link icon-hover icon-hover-1"></i></a>
                            <a href="<?php echo ASSETS_PATH;?>images/works/img4.jpg" class="fancybox-button" title="Project Name #4" data-rel="fancybox-button"><i class="icon-search icon-hover icon-hover-2"></i></a>
                        </em>
                        <a class="bxslider-block" href="#">
                            <strong>Ipad backend style</strong>
                            <b>Bingceng.com</b>
                        </a>
                    </li>
                </ul>        
            </div>
        </div>   
        <!-- END RECENT WORKS -->

        <div class="clearfix"></div>

        <!-- BEGIN TABS AND TESTIMONIALS -->
        <div class="row-fluid mix-block">
            <!-- TABS -->
            <div class="span7 tab-style-1 margin-bottom-20">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-1" data-toggle="tab">BCCMS</a></li>
                    <li><a href="#tab-2" data-toggle="tab">BCBLOG</a></li>
                    <li><a href="#tab-3" data-toggle="tab">BCSHOP</a></li>
                    <li><a href="#tab-4" data-toggle="tab">More</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane row-fluid fade in active" id="tab-1">
                        <div class="span3">
                            <a href="<?php echo ASSETS_PATH;?>images/photos/img7.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                                <img class="img-circle" src="<?php echo ASSETS_PATH;?>images/photos/img7.jpg" alt="" />
                            </a>
                        </div>
                        <div class="span9">
                            <p class="margin-bottom-10">description...</p>
                            <p><a class="more" href="#">more <i class="icon-angle-right"></i></a></p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-2">
                        <div class="span9">
                            <p>description...</p>
                        </div>
                        <div class="span3">
                            <a href="<?php echo ASSETS_PATH;?>images/photos/img10.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                                <img class="img-circle" src="<?php echo ASSETS_PATH;?>images/photos/img10.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-3">
                        <p>description...</p>
                    </div>
                    <div class="tab-pane fade" id="tab-4">
                        <p>description...</p>
                    </div>
                </div>
            </div>
            <!-- END TABS -->
    
            <!-- TESTIMONIALS -->
            <div class="span5 testimonials-v1">
                <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <span class="testimonials-slide">To do it the best</span>
                            <div class="carousel-info">
                                <img class="pull-left" src="<?php echo ASSETS_PATH;?>images/people/img2-small.jpg" alt="" />
                                <div class="pull-left">
                                    <span class="testimonials-name">San.Zhang</span>
                                    <span class="testimonials-post">General manager</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <span class="testimonials-slide">Stable, fast, efficient and innovative</span>
                            <div class="carousel-info">
                                <img class="pull-left" src="<?php echo ASSETS_PATH;?>images/people/img4-small.jpg" alt="" />
                                <div class="pull-left">
                                    <span class="testimonials-name">Wu.Wang</span>
                                    <span class="testimonials-post">Technical Director</span>
                                </div>
                            </div>
                        </div>
						<div class="item">
                            <span class="testimonials-slide">You will be captured from the visual</span>
                            <div class="carousel-info">
                                <img class="pull-left" src="<?php echo ASSETS_PATH;?>images/people/img5-small.jpg" alt="" />
                                <div class="pull-left">
                                    <span class="testimonials-name">Si.Li</span>
                                    <span class="testimonials-post">Creative Director</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Carousel nav -->
                    <a class="left-btn" href="#myCarousel" data-slide="prev"></a>
                    <a class="right-btn" href="#myCarousel" data-slide="next"></a>
                </div>
            </div>
            <!-- END TESTIMONIALS -->
        </div>                
        <!-- END TABS AND TESTIMONIALS -->

        <!-- BEGIN STEPS -->
        <div class="row-fluid no-space-steps margin-bottom-40">
            <div class="span4 front-steps front-step-one">
                <h2>Requirements Analysis</h2>
                <p>Ensure client objectives, determine the system capabilities, combined with industry characteristics needs analysis.</p>
            </div>
            <div class="span4 front-steps front-step-two">
                <h2>Offer, Contract</h2>
                <p>Provides system feature list, a reasonable quote, complete the contract agreement.</p>
            </div>
            <div class="span4 front-steps front-step-three">
                <h2>Development, Delivery</h2>
                <p>Provide project development progress and milestones, security deployment.</p>
            </div>
        </div>
        <!-- END STEPS -->

        <!-- BEGIN CLIENTS -->
        <div class="row-fluid margin-bottom-40">
            <div class="span3">
                <h2><a href="#">Partner</a></h2>
                <p>Sincere cooperation, create a win-win.</p>
            </div>
            <div class="span9">
                <ul class="bxslider1 clients-list">
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_1_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_1.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_2_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_2.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_3_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_3.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_4_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_4.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_5_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_5.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">                        
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_6_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_6.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_7_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_7.png" class="color-img" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#">                        
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_8_gray.png" alt="" /> 
                            <img src="<?php echo ASSETS_PATH;?>images/clients/client_8.png" class="color-img" alt="" />
                        </a>
                    </li>
                </ul>                        
            </div>
        </div>
        <!-- END CLIENTS -->
    </div>
    <!-- END CONTAINER -->
<?php echo $_footer;?>