
    <!-- BEGIN FOOTER -->
    <div class="front-footer">
        <div class="container">
            <div class="row-fluid">
                <div class="span4 space-mobile">
                    <!-- BEGIN ABOUT -->                    
                    <h2>关于我们</h2>
                    <p class="margin-bottom-30">此人很懒，什么都没写。</p>
                    <div class="clearfix"></div>                    
                    <!-- END ABOUT -->          

                    <h2>照片墙</h2>
                    <!-- BEGIN BLOG PHOTOS STREAM -->
                    <div class="blog-photo-stream margin-bottom-30">
                        <ul class="unstyled">
                            <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/people/img5-small.jpg" alt=""></a></li>
                            <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/works/img1.jpg" alt=""></a></li>
                            <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/people/img4-large.jpg" alt=""></a></li>
                            <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/works/img6.jpg" alt=""></a></li>
                            <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/pics/img1-large.jpg" alt=""></a></li>
                            <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/pics/img2-large.jpg" alt=""></a></li>
                            <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/works/img3.jpg" alt=""></a></li>
                            <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/people/img2-large.jpg" alt=""></a></li>
                            <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/works/img2.jpg" alt=""></a></li>
                            <li><a href="#"><img src="<?php echo ASSETS_PATH;?>images/works/img5.jpg" alt=""></a></li>
                        </ul>                    
                    </div>
                    <!-- END BLOG PHOTOS STREAM -->                              
                </div>
                <div class="span4 space-mobile">
                    <!-- BEGIN CONTACTS -->                                    
                    <h2>联系我们</h2>
                    <address class="margin-bottom-40">
                        湖北省武汉市 <br />
                        东湖高新区光谷软件园 <br />
                        C区6栋106室 <br />
                        联系电话: 027-88888888 <br />
                        Email: <a href="mailto:service@bingceng.com">service@bingceng.com</a>                        
                    </address>
                    <!-- END CONTACTS -->                                    

                    <!-- BEGIN SUBSCRIBE -->                                    
                    <h2>邮件订阅</h2>  
                    <p>开通邮件订阅，我们将会提供给您最新消息和优惠信息！</p>
                    <form action="#" class="form-search">
                        <div class="input-append">
                            <input style="background:#fff;" class="m-wrap" type="text"><button class="btn theme-btn" type="button">订阅</button>
                        </div>
                    </form>
                    <!-- END SUBSCRIBE -->                                    
                </div>
                <div class="span4">
                    <!-- BEGIN TWITTER BLOCK -->                                                    
                    <h2>最新微博</h2>
                    <dl class="dl-horizontal f-twitter">
                        <dt><i class="icon-weibo"></i></dt>
                        <dd>
                            <a href="#">@bccms</a>
                            CMS将于9月1日提供预览版
                            <span>3分钟之前</span>
                        </dd>
                    </dl>                                
                    <!-- END TWITTER BLOCK -->                                                                      
                </div>
            </div>
        </div>
    </div>
    <!-- END FOOTER -->

    <!-- BEGIN COPYRIGHT -->
    <div class="front-copyright">
        <div class="container">
            <div class="row-fluid">
                <div class="span8">
                    <p>
                        <span class="margin-right-10">2013 &copy BingCeng.com ALL Rights Reserved.</span> 
                        <a href="#">隐私政策</a> | <a href="#">服务条款</a>
                    </p>
                </div>
                <div class="span4">
                    <ul class="social-footer">
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-google-plus"></i></a></li>
                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-skype"></i></a></li>
                        <li><a href="#"><i class="icon-github"></i></a></li>
                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                        <li><a href="#"><i class="icon-dropbox"></i></a></li>
                    </ul>                
                </div>
            </div>
        </div>
    </div>
    <!-- END COPYRIGHT -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="<?php echo ASSETS_PATH;?>plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="<?php echo ASSETS_PATH;?>plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>	
	<script src="<?php echo ASSETS_PATH;?>plugins/bootstrap/js/bootstrap.min.js"></script>
	<!--[if lt IE 9]>
	<script src="<?php echo ASSETS_PATH;?>plugins/excanvas.js"></script>
	<script src="<?php echo ASSETS_PATH;?>plugins/respond.js"></script>
	<![endif]-->
	<script type="text/javascript" src="<?php echo ASSETS_PATH;?>plugins/back-to-top.js"></script>    
    <script type="text/javascript" src="<?php echo ASSETS_PATH;?>plugins/jquery-bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript" src="<?php echo ASSETS_PATH;?>plugins/fancybox/source/jquery.fancybox.pack.js"></script>    
    <script type="text/javascript" src="<?php echo ASSETS_PATH;?>plugins/bootstrap-hover-dropdown.js"></script>
    <script type="text/javascript" src="<?php echo ASSETS_PATH;?>plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="<?php echo ASSETS_PATH;?>plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="<?php echo ASSETS_PATH;?>js/app.js" type="text/javascript"></script>
	<script src="<?php echo ASSETS_PATH;?>js/index.js" type="text/javascript"></script>   
	<!-- END PAGE LEVEL SCRIPTS --> 
	<script>
		jQuery(document).ready(function() {     
		  App.init();
		  App.initBxSlider();
	      Index.initRevolutionSlider();     
		});
		 
	</script>
	<!-- END JAVASCRIPTS -->
<!-- END BODY -->
</html> 